// Box sizing
*,
*::before,
*::after {
    box-sizing: border-box;
}

// Remove default margins
body,
h1, h2, h3, h4, h5, h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

// Better text spacing and MacOS font rendering
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

// Better image control
img, picture {
    max-width: 100%;
    display: block;
}

// Inherit fonts for form elements
input,
button,
textarea,
select {
  font: inherit;
}

// Remove default list class styling
ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

// Smooth scrolling
html:focus-within {
  scroll-behavior: smooth;
}

// Reset button styles
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

// Prevent long links from overflowing
a:not([class]) {
  text-decoration-skip-ink: auto;
}

