// nav
nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
}

// mobile nav

.mobile-nav {
  display: none;

  &.is-open {
    display: block;
  }
}

@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}

.main-nav {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}
